CompileFlags: # Tweak the parse settings, example directory given to show format
  Add:
    # - "-I=[folder]"         # old answer
    - "-I[/opt/X11/include/X11/keysym.h]"            # e.g `-I/usr/include/SDL2`  suggested from @Palmkeep

